.cartpage-main{
    
}

.cartpage-title{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

.cartpage-header{
    display: flex;
    justify-content: flex-start;
}

.cartpage-header > h3{
    width: 60%;
}

.cartpage-header .h3{
    
}
