@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

.wrapper {
    width: 100%;
    min-height: 345px;
}

.page-width {
    display: flex;
    justify-content: flex-start;
    min-height: 80%;
    padding: 0 30px;
    border-top: 1px solid #EEE;
}

.footer-section {
    width: 30%;
    border-right: 1px solid #EEE;
    display: flex;
    justify-content: flex-start;
    border-left: none;
    text-transform: uppercase;
}

.menu-section {
    margin-top: 15px;
    padding-right: 40px;
    font-size: 13.5px !important;
    font-family: "Karla", sans-serif;
    letter-spacing: 1px;
}

.menu-section ul{
    padding: 0;
}

.menu-section ul li{
    margin-bottom: 7px;
}

.infos-wrapper {
    width: 40%;
    padding: 30px 25px 20px;
}

.infos-wrapper p{
    text-align: center;
    margin: 0;
}

.infos-wrapper p h3{
    color: #606060;
    font-family: "Karla", sans-serif;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
}

.infos-wrapper p h2{
    font-family: "SilkSerif-Regular", serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    box-sizing: border-box;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 0;
}

.d-flex{
    display: flex;
    justify-content: center;
    height: 65%;
}

.info-section:first-of-type{
    margin-bottom: 0;
    padding-right: 5px;
    width: 36%;
}

.info-section:last-of-type{
    margin-bottom: 0;
    padding-left: 5px;
    width: 36%;
}

.info-section{
    margin-bottom: 0;
    width: 28%;
}

.info-section img{
    width: 100%;
}

.info-section p{
    margin-bottom: 8px;
    font-size: 13.5px!important;
    font-family: "Karla", sans-serif;
    font-weight: normal;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
}

.info-section p h4{
    margin-top: 0;
}

.newsletter-wraper {
    width: 30%;
    border-left: 1px solid #EEE;
    border-right: none;
}

.footer-bottom {
    height: 20%;
}

.footer-newsletter-from{
    box-sizing: border-box;
    margin: 5px 0 0 60px;
    max-width: 220px;
    display: block;
}

.newsletter-from{

}

.input-email{
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #d09f85;
    box-sizing: border-box;
    font-size: 10px;
}

.subscribe-button{
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--primary);
    border: none;
}

.subscribe-button:hover{
    background-color: #111;
    color: #eee;
}

.footer-bottom{
    padding: 0 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #eee;
}

.footer-bottom .footer-section{
    height: 100%;
}

.caption{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14px;
}

.credit{
    font-size: 13.5px !important;
    font-family: "Karla", sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
}

.content{
    text-align: center;
}

.footer-bottom .infos-wrapper{
    padding-top: 10px;
}

.mxh-icon{
    margin-left: 20px;
    color: var(--primary);
}

.mxh-icon:hover{
    opacity: 0.7;
    cursor: pointer;
}

.newsletter-wraper .info-section{
    width: 100%;
}

.newsletter-wraper .info-section p{
    margin-top: 0 !important;
}

//PC

@media (min-width: 1024px) {

}

//Tablet

@media (min-width: 741px) and (max-width: 1023px) {
    .page-width{
        flex-direction: column;
    }
    .footer-section{
        flex-direction: column;
        width: 100%;
        border: none;
    }
    .menu-section{
        text-align: center;
        padding: 0;
    }
    .infos-wrapper{
        text-align: center;
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }
    .d-flex{
        flex-direction: column;
        
    }
    .info-section{
        width: 100%;
        padding: 0;
    }
    .info-section:first-of-type,
    .info-section:last-of-type{
        margin-top: 30px;
        width: 100%;
        padding: 0;
    }
    .info-section img{
        display: none;
    }
    .newsletter-wraper{
        width: 100%;
        border: none;
    }
    .footer-bottom{
        flex-direction: column;
        border: none;
    }
    .footer-section{
        text-align: center;
    }
}

//Mobile

@media (max-width: 740px) {
    .page-width{
        flex-direction: column;
    }
    .footer-section{
        flex-direction: column;
        width: 100%;
        border: none;
    }
    .menu-section{
        text-align: center;
        padding: 0;
    }
    .infos-wrapper{
        text-align: center;
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }
    .d-flex{
        flex-direction: column;
        
    }
    .info-section{
        width: 100%;
        padding: 0;
    }
    .info-section:first-of-type,
    .info-section:last-of-type{
        margin-top: 30px;
        width: 100%;
        padding: 0;
    }
    .info-section img{
        display: none;
    }
    .newsletter-wraper{
        width: 100%;
        border: none;
    }
    .footer-bottom{
        flex-direction: column;
        border: none;
        align-items: center;
    }
    .footer-section{
        text-align: center;
    }
}



